{{!-- Se creará un archivo “register.handlebars” como nueva plantilla, donde se colocará un form --}}
<h2>BIENVENIDO</h2>
<form action="/users" method="post">
Nombre: <input type="text" name="nombre" id="nombre">
Correo: <input type="email" name="correo" id="correo">
Contraseña: <input type="password" name="contrasena" id="contrasena">
<input type="submit" value="AGREGAR">


</form>